{% extends "layout.html" %}

{% block body %}
<h1>CHAT</h1>
<h3>Hello, {{username}}</h3>
<a href="logout">Log-out</a>
<form action="sendmessage" method="post" class="sendmessage">
    <textarea name="content" id="content" cols="30" rows="6"></textarea>
    <button type="submit" id="msgbtn">Send</button>
</form>
<div class="messages">
{% for message in messages %}
<div class="message">
    <h5>{{message[1]}} at {{message[3]}}:</h5>
    <p>{{message[2]}}</p>
</div>
{% endfor %}
</div>
{% endblock %}