<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/main.js" defer></script>
    <script src="/static/socket.io.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <title>CH4T-J</title>
</head>
<body>
    <img src="/static/favicon.ico" width="32">
    {% block body %}{% endblock %}
</body>
</html>